{% extends 'base.html.twig' %}

{% block title %}Appointment Confirmed{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Your Appointment is Confirmed!</h1>
    <p class="lead">Your appointment has been successfully scheduled. We look forward to seeing you!</p>
    <p>If you have any questions or need to make changes to your appointment, please contact us.</p>
    <a href="{{ path('appointment_calendar') }}" class="btn btn-primary">Back to Calendar</a>
</div>
{% endblock %}
